// ------------------------------------
// SCSS COLOR VARIABLES
// ------------------------------------
// used for the navbar background
$srp-blue: #006da8;
// used for :hover navbar links
$srp-nav-lighter-blue: #007ec2;
// used for .active navbar links
$srp-nav-darker-blue: #005e90;
// used for the bottom border on navbar
$srp-nav-blue-border: #085a88;
